body {
    margin: 0;
    background: pink;
    text-align: center;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.logo {
    width: 10px; 
    height: auto;
    margin-right: 8px; /
}

nav ul {
    list-style: none;
    padding: 5;
}

nav a {
    text-decoration: none;
    color: #333; 
}
