body {
    margin: 0;
    background: pink;
    text-align: center;
}

.small-logo {
    width: 20px; /* 1-2 cm */
    height: auto;
    position: absolute;
    top: 10px; /* Adjusts vertical positioning */
    left: 10px; /* Positions it on the far left */

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.logo {
    width: 10px; 
    height: auto;
    margin-right: 8px; /
}

nav ul {
    list-style: none;
    padding: 5;
}

nav a {
    text-decoration: none;
    color: #333; 
}
